.container__form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 737px;
    padding: 50px;
  background: linear-gradient(#437DF7, #0DB6D3);
}
.main__form{
    background: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
}
.tittle__form{
    padding-left: 10px;
    color: black;
}
.subtittle__form{
    padding-left: 10px;
    font-size: 14px;
    color: rgb(147, 144, 144);
    margin-bottom: 20px;
}
.container__inputs{
    display: flex;
}
.Input__box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 415px;
}
label{
    font-size: 14px;
    color: black;
}
.input__inner{
    outline: none;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #716e6ec6;
}
.Btn_cadastrar{
    background: transparent;
    border: 1px solid blue;
    height: 45px;
    width: 415px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: blue;
    border-radius: 5px;
    transition: 0.5s;
}
.Skilled__button{
    background: blue;
    border: 1px solid blue;
    height: 45px;
    width: 415px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.input__ckeckBox{
    display: flex;
    justify-content: start;
    align-items: center;
}
.input__inner{
    margin-right: 10px;
}
.message__success{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    max-width: 415px;
    background: rgba(8, 212, 8, 0.861);
    border: 1px solid #0f0;
    background: 0f0;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
    font-size: 14px;
}
.message__erro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    max-width: 415px;
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.1);
    color: red;
    border-radius: 10px;
    padding: 3px;
    font-size: 14px;
}
.icon__message{
    margin-right: 5px;
    font-size: 16px;
}