.main{
    display: flex;
}
.menu__lateral{
    min-height: 710px;
    width: 270px;
    padding-top: 10px;
    background: #0DB6D321;
}
.logo{
    margin-bottom: 50px;
    height: 24px;
    width: 120;
    padding: 5px;
    color: black;
    font-weight: bold;
    margin-left: 15px;
    border-left: 5px solid #0DB6D3;
}
.container__img__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container__image__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.img{
    width: 130px;
    height: 130px;
}
.name__user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    color: black;
    font-weight: bold;
}
.name__type__user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    color: #1163B4;
}
.container__menus{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 100px;
}
.name__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
    transition: 0.5s;

}
.name__menu:hover{
    border-radius: 12px;
    padding: 5px;
    background: #1163B4;
    color: #fff;
    transition: 0.5s;
}
.icon__menu{
    margin-right: 10px;
}
.container__logout{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    margin-top: 100px;
}
.section__information{
    background: #8d888830;
    width: 100%;
}
.container__search{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 10px;
    background: #fff;
}
.icon__back{
    color: grey;
    font-size: 30px;
}
.inputSearch{
    padding-left: 10px;
    outline: none;
    width: 215px;
    height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 12px;
}
.container__addPaciente{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 20px;
    margin-right: 50px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 25px;
    color: black;
    padding: 5px;
    padding-left: 12px;
    max-width: 940px;

}
.add__paciente{
    height: 40px;
    width: 200px;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    background: transparent;
    transition: 0.5s;
}
.add__paciente:hover{
    color: #fff;
    border: 1px solid blue;
    background: blue;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
}
.container__tittle__table{
    display: flex;
    flex-direction: row;
    color: #535050;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 20px;
}
.conatiner__paciente{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 60px;
    background:#fff;
    box-shadow: -3px 3px 7px 0px #00000030;
    max-width: 940px;
}
.pacient__box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #535050;
    font-size: 18px;
    width: 100%;
}
.pacient__inner{
    width: 150px;
    margin: 5px;
}
.icon__patient{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    color: #0DB6D3;
}