.selected{
    border-radius: 12px;
    padding: 5px;
    background: #1163B4;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    margin-bottom: 20px;
}
.input__inner{
    padding: 5px;
    height: 40px;
}
.ckecked__section{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}