.selected{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background: #1163B4;
    color: #fff;
    transition: 0.5s;
    width: 100%;
    text-decoration: none;
}
.input__inner{
    padding: 5px;
    height: 40px;
}
.search{
    width: 100%;
}
.ckecked__section{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
.conatiner__colaboradores{   
    margin-top: 5px;
}
.container__search__colaborador{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box_colaborador{
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #0000005f;
    background: transparent;
}
.colaborador__box{
    display: flex;
    color: rgb(75, 72, 72);
}
.colaborador__selected{
    border: none;
    background: #0000005f;
    color: rgb(75, 72, 72);
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}
.Btn_buscar{
    background: transparent;
    border: 1px solid blue;
    color: blue;
    outline: none;
    border-radius: 5px;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;    
}
.Btn_buscar:hover{
    background: blue;
    color: #fff;
    transition: 0.5s;

}
.message_colaborador{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c3c3eb1;
    font-size: 18px;
}
.container__nameServices{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
    background: rgba(128, 128, 128, 0.229);
    overflow-y: scroll;
    overflow-x: hidden
}
.name__service{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    background: #fff;
    color: rgb(98, 95, 95);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -3px 3px 7px 0px #00000030;
}
.service__selected{
    background: #0000005f;
    color: rgb(75, 72, 72);
}
.hiddenBtn{
    width: 0;
    height: 0;
    opacity: 0;
}
.showBtn{
    opacity: 1;
}
.Btn__cancelar{
    background: transparent;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}
.Btn__cancelar:hover{
    background: red;
    color: #fff;
}
.Btn__confirmar{
    background: transparent;
    border: 1px solid #0f0;
    color: #0f0;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.Btn__confirmar:hover{
    background: #0f0;
    color: #fff;
}