.section__inputs__search{
    display: flex;
    padding: 10px;
}
.container__tittle_and_input{
    padding-left: 5px;
    color: #535050;
}
.tittle__table__inner{
    padding: 5px;
    margin-right: 30px;
}
.container__input__search{
    padding-left: 25px;
}
.message__search__paciente{
    padding-top: 5px;
    font-size: 14px;
    color: #535050;
}
.container__result__report{
    height: 455px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 25px;
}
.Box__paciente__found{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: #fff;
    box-shadow: -3px 3px 7px 0px #00000030;
}
.Box__paciente__found:hover{
    background: #b1b0b0;
}
.message__report{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    color: #535050;
    font-size: 20px;
}
.full__btn__report{
    background: blue;
    border: 1px solid blue;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    width: 200px;
}
.container__qntReport{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 18px;
    color: #535050;
}
.name__service__report{
    height: 80px;
}